Daemon_FT/Daemon_FT/Schemas/DBSpaceManager.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/DBSpaceManager" xmlns:tns="http://www.example.org/DBSpaceManager" elementFormDefault="qualified">

    <element name="TRANSITIONLOGGINGSTATS">
    	<complexType>
    		<sequence>
    			<element name="DELETE_TABLE" type="string"></element>
    		</sequence>
    	</complexType>
    </element>
    
    <element name="ACTIVITYLOGGINGSTATS">
    	<complexType>
    		<sequence>
    			<element name="DELETE_TABLE" type="string"></element>
    		</sequence>
    	</complexType>
    </element>
</schema>